registry=https://registry.npmjs.org
@monsantoit:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/
@bayerit:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/